body{
	background: #000;
}

#wid_abs{
	width: 100%;
	box-shadow: none;
}

/*шрифт меню*/
.navbar .navbar-nav > li > a{
	font-family: impact;
	font-weight: inherit;
	font-size: 25px;
	letter-spacing: inherit;
}

/*меню по центру+флекс-блоки*/
@media (min-width: 768px) {
	.navbar-nav{
		float: inherit;
		margin: auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*название слева*/
.header{
	text-align: left;
	color: #fff;
}

.header h1{
	font-size:2.5em;
	height: 35px;
	
}

/*размер шрифта названия*/
.header a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

/* название шапке */
.netro_logo_custom{
	  padding: 0;
    margin-left: -30px;
}

.description{
		text-align: right;
    font-size: 2em;
    text-transform: uppercase;
    margin-right: 1.6em;
    color: #06808B;
}

/*блок адрес*/
.netro_adress{
	padding: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
	font-size: 1em;
}

/*блок адрес параграф*/
.netro_adress p{
	padding: 0;
	position: relative;
	display: block;
	right: -2em;
    /* text-align: center; */
    COLOR: #fff;
    font-weight: bold;
    margin: 0;
}

/*блок телефон*/
.netro_tel{
	padding: 0;
		font-size: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
		align-items: flex-end;
		right: -25px;
}

/* блок с телефоном */
.netro_tel a{
		color: #fff;
  	font-weight: bold;
}

/*блок телефон иконка*/
.netro_tel i {
	font-weight: bold;
  color: #20b038;
}

/* менюшка */
.navbar{
	background-color: rgb(202, 202, 202);
   margin: 0 -15px;
}

/* отдельный класс для контейнеров */
.my_container{
	background: #fff;	
}


/*****новый даптив****/

@media (max-width: 768px){
	.netro_header{
		text-align: center;
	}
	.header h1, .description{
		text-align: center;
	}
	.description{
		margin: auto;
	}
	.netro_adress{
		width: 100%;
	}
	.netro_adress p{
		right: 0;
	}
	.netro_tel{
		width: 100%;
		align-items: inherit;
	}
}

@media (min-width: 768px), (max-width: 992px){
	hgroup{
		width: 78%;
	}
	.netro_adress{
		margin-top: 0;
	}
}

@media (max-width: 768px), (min-width: 992px){
	hgroup{
		width: 100%;
	}
}

@media (min-width: 992px){
	.header h1{
		font-size: 2em;
	}
	.description{
		margin-right: 2.3em;
	}
	.netro_adress{
		margin-top: 2em;
	}
	.netro_adress p{
		right: 1em;
		font-size: 1em;
	}
	.netro_tel{
		margin-top: 1em;
	}
	.netro_tel a{}
}

@media (min-width: 1200px){
		hgroup{
		width: 83%;
	}
}





/************************************/
/* АДАПТИВ */



@media (max-width: 1200px){
	.header h1{
		font-size:2em;
		height: 30px;
	}
		.description {
    margin-right: 1.8em;
	}
}

/* адаптив блоки в шапке флех */
@media (min-width: 768px){
	.netro_header{
		display: flex;
		flex-wrap: wrap;
	}
}




@media (max-width: 992px) {
	.netro_logo_custom{
/* 		margin-left: -30px; */
    margin-right: -4em;
	}
	.header h1{
			font-size: 1.7em;
	}
	.description {
    text-align: left;
	}
	.netro_adress{
		width: 60%;
		text-align: right;
		padding-right: 15px;
	}
	.netro_adress p{
		right: -1em;
	}
	.netro_tel{
		font-size: 1.3em;
   	width: 100%;
		right: 0;
		margin: auto;
    flex-direction: inherit;
		justify-content: space-between;
	}
	
	.wow{
		display: none;
	}
	.netro_viget{
		display: block;
	}

}
@media (max-width: 768px){
	.header h1, .description{
		padding-right: 1.5em;
		font-size: 3em;
		text-align: center;
		margin: 0;
	}
	.netro_adress{
		margin-top:0;
		width: 100%;
    text-align: center;
	}
	.netro_tel{
  	justify-content: center;
		width: 100%;
	}
	.netro_tel a{
		padding: 0 10px;
	}

}

@media (max-width: 768px){
	.header h1{
		height:100px;
	}
		body{
		 background-image: url(http://www.volvovkolomne.ru/wp-content/uploads/2019/12/bg-1.png), url(http://www.volvovkolomne.ru/wp-content/uploads/2019/12/close-up-photography-of-vehicle-wheel-and-hankook-tire-1236788-scaled.jpg
);
	background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: auto, 100%;
	}
}



@media (max-width: 480px){
	
/* 	.header{
		height: 100vh;
	} */
	
	.netro_logo_custom{
		width: 100%;
		padding: 0 1px;
	}
	.netro_adress, .netro_tel{
		width: 100%;
		text-align: center;
	}
	.netro_tel a{
		width: 100%;
	}
}

@media (max-width: 400px){
	.header h1, .description{
		padding-right: 0;
	}
	.header h1{
		font-size: 3em;
		height: auto;
	}
}
